header{
    background-color:  rgb(242, 95, 120);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    padding: 23px;
    margin: auto;
    color: whitesmoke;

}